 @use '/src/assets/scss/partials/variables' as *;
 @use '/src/assets/scss/partials/mixins' as *;

 * {
     padding: 0;
     margin: 0;
     box-sizing: border-box;
 }

 body {
     font-family: "Roboto Condensed", sans-serif;
 }

 .container {
     margin: 0 auto;
     max-width: 800px;
 }

 button {
     background-color: $red;
     color: $white;
     padding: 0.7rem 1rem;
     border-radius: 20px;
     border: 0;
     cursor: pointer;
 }